Package: com.mhuusko5.Gestr
Name: Gestr
Version: 0.9-0
Description: Launch apps with multitouch gestures you define!
Section: Tweaks
Depends: firmware (>= 6.0), mobilesubstrate, libactivator
Architecture: iphoneos-arm
Author: Mathew Huusko V <mhuusko5@gmail.com>
Homepage: https://twitter.com/mhuusko5
Maintainer: Mathew Huusko V <mhuusko5@gmail.com>